ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #CAFFD0;
    overflow: hidden;
}

li {
    display: inline;
    float: left;
    position: relative;
}

a, a:visited {
    display: block;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #CAFFD0;
    text-decoration: none;
    color: black;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

.hoverover a:hover {
    color: white;
    background-color: #B4A0E5;
}
.nohover {
    text-decoration: none;
}

.navbar {
    background-color: #CAFFD0;
    position: fixed;
    width: 100%;
}

li img {
    width: 30px;
    display: inline-block;
}

a:hover img{
    width: 33px;
}

.logo {
    padding-left: 70px;
    padding-right: 100px;
    padding-bottom: 150px;
}

.profile {
    width: 20%;
    padding-left: 250px;
    background-color: #CA3CFF;
    padding-right: 234px;
    padding-top: 180px;
    padding-bottom: 200px;
}

#next {
    display: inline;
}

.softeng {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    width: 50%;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}