ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #CAFFD0;
    overflow: hidden;
}

li {
    display: inline;
    float: left;
    position: relative;
}

a, a:visited {
    display: block;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #CAFFD0;
    text-decoration: none;
    color: black;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

.hoverover a:hover {
    color: white;
    background-color: #B4A0E5;
}
.nohover {
    text-decoration: none;
}

.navbar {
    background-color: #CAFFD0;
}

li img {
    width: 30px;
    display: inline-block;
}

a:hover img{
    width: 33px;
}

.logo {
    padding-top: 210px;
    padding-left: 70px;
}
